<div class="jumbotron text-center">
  <img class="logo" src="/img/logo.png" alt="Ideabox logo">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Jot down ideas for your next project</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Add Ideas</a>
</div>